.orgren-bg {
    background-color: #fceae8;
    border-radius: 10px;
}

.container {
    margin-bottom: 100px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #FF136F;
}

.buy-now {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.buy-now:hover {
    border: 1px solid black;
}

.cat1 {
    background-image: linear-gradient(45deg, rgb(240, 190, 97), orange);
}

.cat2 {
    background-image: linear-gradient(45deg, rgb(238, 138, 235), orchid);
}

.cat3 {
    background-image: linear-gradient(45deg, rgb(104, 104, 240), rgb(47, 47, 253));
}

.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
}

.categories img {
    width: 150px;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: px;
}

.card-footer {
    background-color: white;
    border-top: none;
}

#subscribe {
    height: 300px;
}

#subscribe h6 {
    color: gray;
}

footer {
    text-align: center;
}